.book-card {
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }
  
  .book-card:hover {
    transform: scale(1.05);
  }
  
  .book-card img {
    max-width: 100%;
    height: auto;
    width: 100%;
    border-radius: 0; 
    position: relative;

  }
  .book-info {
    padding-top: 10px;
  }
  
  .book-info h3 {
    font-size: 1rem;
    margin: 0;
  }
  
  .book-info p {
    font-size: 0.9rem;
    color: #555;
    margin: 5px 0 0;
  }
.purchased-badge {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: rgba(0, 128, 0, 0.8);
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.8rem;
}
